{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Design</title>
    <link rel="stylesheet" href="{% static 'sty.css' %}">
</head>
<body>



<h1>Hi hello</h1>
{% for x in data %}

<h3>{{x.name}}</h3>
<h3>{{x.rno}}</h3>
<p>***************************************</p>

{% endfor %}



</body>
</html>